{% extends 'base.html' %}
{% load static %}



<body>
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == user_id %}


        <div class="slogan container container--90">
            <div class="slogan--item">
            <h2>Darowizny</h2>


                <div class="slogan--steps">
                    {% for donation in object_list %}

                 <table class="tg">

                    <thead>
                      <tr>
                        <th class="tg-6ywj">ID</th>
                        <th class="tg-6ywj">Ilość</th>
                        <th class="tg-6ywj">Kategoria</th>
                        <th class="tg-6ywj">Instytucja</th>
                        <th class="tg-6ywj">Data zabrania</th>
                        <th class="tg-6ywj">Godzina zabrania</th>
                        <th class="tg-6ywj">Czy dostarczone?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-7cam">{{donation.id}}</td>
                        <td class="tg-7cam">{{donation.quantity}}</td>
                          {% for category in donation.categories.all %}
                        <td class="tg-7cam">{{category}}</td>
                          {% endfor %}
                        <td class="tg-7cam">{{donation.institution}}</td>
                        <td class="tg-7cam">{{donation.pick_up_date}}</td>
                        <td class="tg-7cam">{{donation.pick_up_time}}</td>
                        <td class="tg-7cam"><a href="{% url 'Update_donation' pk=donation.id %}">{{donation.is_taken}} (EDIT)</a> </td>

                      </tr>
                    </tbody>
                    </table>

                    {% empty %}
                 <span class="description">No donations</span> <br>
                 {% endfor %}

                <h2>Darowizny dostarczone</h2>

                    {% for institution in institutions %}
                 <table class="tg">
                <thead>
                  <tr>
                    <th class="tg-6ywj-taken">ID</th>
                    <th class="tg-6ywj-taken">Ilość</th>
                    <th class="tg-6ywj-taken">Kategoria</th>
                    <th class="tg-6ywj-taken">Instytucja</th>
                    <th class="tg-6ywj-taken">Data zabrania</th>
                    <th class="tg-6ywj-taken">Data zabrania</th>
                    <th class="tg-6ywj-taken">Dostarczone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tg-7cam-taken">{{institution.id}}</td>
                    <td class="tg-7cam-taken">{{institution.quantity}}</td>
                      {% for category in institution.categories.all %}
                    <td class="tg-7cam-taken">{{category}}</td>
                      {% endfor %}
                    <td class="tg-7cam-taken">{{institution.institution}}</td>
                    <td class="tg-7cam-taken">{{institution.pick_up_date}}</td>
                    <td class="tg-7cam-taken">{{institution.pick_up_time}}</td>
                    <td class="tg-7cam-taken"><a href="{% url 'Update_donation' pk=institution.id %}">{{institution.is_taken}} (EDIT)</a> </td>

                      </tr>
                    </tbody>
                </table>
                    {% endfor %}


                </div>
            </div>
        </div>
    </header>


    {% else %}
        You are not the correct user
    {% endif %}

{% else %}
    You are not allowed here


{% endif %}
{% endblock %}
</body>