{% extends 'base.html' %}
{% load static %}
{% block content %}

  <body>
  {% block header_class %}
    <header>
      {% endblock %}

      {% block nav_bar %}

      {% endblock %}
      </nav>
    </header>

    <section class="login-page">
      <h2>Załóż konto</h2>

        <form method="POST" >
      {{success_message}}
        {% csrf_token %}
        <div class="form-group">
            {{ form.email }}

          </div>
        <div class="form-group">
            {{ form.password1 }}
          </div>
        <div class="form-group">
            {{ form.password2 }}
        </div>
          {% if form.error_messages %}
          {% for message in form.error_messages %}
                {{ message }}
                {% endfor %}
          {% endif %}



<!--          <div class="form-group" >-->
<!--            {{ form.error_messages }}-->
<!--        </div>-->
<!--          {{form.as_p}}-->



        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>



  </body>
{% endblock %}
