{% extends 'base.html' %}
{% load static %}



<body>
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == user_id %}


        <div class="slogan container container--90">
            <div class="slogan--item">
              <h1>
                Dane użytkownika<br />
                {{form.messages}}
              </h1>
                 <div class="slogan--steps">



                     <table class="tg">
                            <thead>
                              <tr>
                                <th class="tg-6ywj">Nazwa użytkownika</th>
                                <td class="tg-6ywj">{{user.username}}</td>
                              </tr>
                            <tr>
                                <th class="tg-6ywj">Email</th>
                                <td class="tg-6ywj">{{user.email}}</td>
                              </tr>

                            <tr>
                                <th class="tg-6ywj">Data dołączenia</th>
                                <td class="tg-6ywj">{{user.date_joined}}</td>
                              </tr><tr>
                                <th class="tg-6ywj">Imię</th>
                                <td class="tg-6ywj">{{user.first_name}}</td>
                              </tr><tr>
                                <th class="tg-6ywj">Nazwisko</th>
                                <td class="tg-6ywj">{{user.last_name}}</td>
                              </tr>
                            </thead>
                        </table>

                 </div>
            </div>

            {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                        </div>

        </div>
    </header>


    {% else %}
        You are not the correct user
    {% endif %}

{% else %}
    You are not allowed here


{% endif %}
{% endblock %}
</body>