{% extends 'base.html' %}
{% load static %}



<body>
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == user_id %}


        <div class="slogan container container--90">
            <div class="slogan--item">
              <h1>
                Edycja danych użytkownika:
              </h1>
                <div class="slogan--steps">
                    <form method="post">
                             {% csrf_token %}



                        <table class="tg">
                            <thead>
                              <tr>
                                <th class="tg-6ywj">Nazwa użytkownika</th>
                                <td class="tg-6ywj">{{form.username}}</td>
                              </tr>
                            <tr>
                                <th class="tg-6ywj">Email</th>
                                <td class="tg-6ywj">{{form.email}}</td>
                              </tr>
                              <tr>
                                <th class="tg-6ywj">Imię</th>
                                <td class="tg-6ywj">{{form.first_name}}</td>
                              </tr>
                              <tr>
                                <th class="tg-6ywj">Nazwisko</th>
                                <td class="tg-6ywj">{{form.last_name}}</td>
                              </tr>
                            <tr>
                                <th class="tg-6ywj">Aby zatwierdzić wpisz hasło</th>
                                <td class="tg-6ywj">{{form.password}}</td>
                              </tr>
                            </thead>
                        </table>
                          <button class="btn" type="submit" value="Update">Update</button>

                    </form>
                    <form action="{% url 'password_change' %}">
                        <input class="btn" type="submit" value="Zmiana hasła" />
                    </form>

                    </div>



                 <div class="slogan--steps">
                             {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                        </div>

            </div>


        </div>
    </header>


    {% else %}
        You are not the correct user
    {% endif %}

{% else %}
    You are not allowed here


{% endif %}
{% endblock %}
</body>