{% extends 'base.html' %}
{% block content %}

  <body>
  {% block header_class %}
    <header>
      {% endblock %}

      {% block nav_bar %}

      {% endblock %}
      </nav>
    </header>

    <section class="login-page">

      <form action="" method="post">
        {% csrf_token %}
      <h2>Podaj email na który wyślemy link do zresetowania hasła</h2>
          {{form}}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Wyślij link</button>
        </div>

    </section>



  </body>
{% endblock %}
