{% extends 'base.html' %}
{% block content %}

  <body>
  {% block header_class %}
    <header>
      {% endblock %}

      {% block nav_bar %}

      {% endblock %}
      </nav>
    </header>

    <section class="login-page">

  <form method="post">{% csrf_token %}
        {% csrf_token %}
      <h2>Witaj {{user.email}},
        <br> Wpisz nowe hasło</h2>
    <div>
      {{ form.new_password1.errors }}
        {{form.new_password1}}

      {{ form.new_password2.errors }}
        {{ form.new_password2 }}

          <button class="btn" type="submit">Zmień hasło</button>
        </div>
  </form>
    </section>



  </body>
{% endblock %}
